* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  display: grid;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: #172242;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
